.nav{
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 0;
    /* justify-self: flex-start; */
}
nav a{
    color: #ffffff;
    text-decoration: none;
}
.logo{
    margin-left: 6vw;
    font-weight: 600;
    font-size: 1.25vw;
}
.btn-link{
    margin-right: 6vw;
}

